<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style3.css">
    <script src="static/js/appHome.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class="main">
            <div style="text-align:center">
                <h1>Menú Registro de Actividades</h1>
            </div>
            <form class="form-3">
                <img src="https://img.freepik.com/vector-gratis/diseno-futurista-fondo_23-2148503793.jpg"> 
                <p class="clearfix">
                    <input onclick="register_page();" type="button" name="submit" value="Registro de Actividades">
                    <input onclick="consult_page();" type="button" name="submit" value="Consulta de Actividades">
                </p> 
                
            </form>

        </section>
    </div>
 
</body>
</html>